* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(#6464bc, #0f0650);
  color: white;
}

/* Notes Compoent  */

.add-note-box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.add-btn-section {
  display: block;
  position: fixed;
  top: 90%;
  width: 100%;
  text-align: end;
}

.add-btn {
  padding: 5px 25px;
  border: none;
  border-radius: 20px;
  white-space: nowrap;
  word-spacing: 5px;
  font-weight: 700;
  margin-right: 40px;
  
}


/* Add note component  */
.add-note-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 30px;
  border-radius: 20px;
}

.date {
  text-align: end;
}

.add-note-container>label {
  margin: 20px 0 5px 0;
}

.add-note-container>input,
.add-note-container>textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #444;
}

.add-note-container>textarea {
  width: 100%;
  min-height: 150px;
}

.add-note-container>.add {
  margin: 20px auto 0 auto;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}


/* NoteCard components  */
.note-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: #c7c7c7;
  color: blue;
  /* border: 2px solid red;/ */
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  transition: .5s;
  box-shadow: 0 0 20px 1 #413a3a;
}

.note-card:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px 1px black;
}

.note-card:hover>p>span {
  color: white;
}

.note-card>p {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: .8rem;
  margin-bottom: 20px;
}

.note-span {
  color: black;
  overflow: hidden;
}

.note-title {
  margin-bottom: 20px;
}