* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(#6464bc, #0f0650);
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

/* Nav component  */
.nav-bar {
  color: blue;
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
}

.nav-items {
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.nav-items:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}

.nav-items>li {
  padding: 10px 15px;
  transition: 0.3s;
}

.active {
  background-color: blue;
  color: white;
}

.not-active {
  background-color: white;
  color: black;
}

.nav-items>li:hover {
  color: white;
  background-color: blue;
}

.main-content {
  margin-top: 100px;
}


/* Notes Compoent  */

.add-note-box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* default text when no notes has been added  */
.default-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.5rem;

}


.add-btn-section {
  display: block;
  position: fixed;
  top: 90%;
  width: 100%;
  text-align: end;
}

.add-btn {
  padding: 5px 25px;
  border: none;
  border-radius: 20px;
  white-space: nowrap;
  word-spacing: 5px;
  font-weight: 700;
  margin-right: 40px; 
  transition: 0.5 ease-out;
}

.add-btn:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 10px 3px white;
}



/* Add note component  */
.add-note-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s ease-out;
  z-index: 2;
}

.add-note-container:hover {
  box-shadow: 0 0 20px 1px #4640ef;

}

.date {
  text-align: end;
}

.add-note-container>label {
  margin: 20px 0 5px 0;
  color: blue;
  font-weight: 700;
}

.add-note-container>input,
.add-note-container>textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid blue;
  font-size: 1.2rem;
}

.add-note-container>input:focus-visible,
.add-note-container>textarea:focus-visible {
  outline: 1px solid blue;
}
.add-note-container>textarea {
  width: 100%;
  min-height: 150px;
}

.add-note-container>textarea::-webkit-scrollbar {
  display: none;
}

.add-note-container>.add {
  margin: 20px auto 0 auto;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #5955ec;
  color: white;
  transition: 0.2s;
}

.add-note-container>.add:hover {
  background-color: blue;
}

/* NoteCard components  */

.edited {
  position: absolute;
  top: 85%;
  left: 15%;
}

.abbr {
  display: inline-block;
}

.note-card {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 20px;
  margin: 20px;
  transition: .5s;
  box-shadow: 0 0 20px 1 #413a3a;
}

.note-card:hover {
  background-color: #5252a5;
  color: white;
  box-shadow: 0 0 20px 1px black;
}



.note-card>.note-title {
  font-size: 1.3rem;
  margin-bottom: 30px;
  font-weight: 600;
  overflow: hidden;
}

.note-card>.note-disc {
  font-size: 1rem;
  height: 150px;
  word-wrap: break-word;
  overflow-y: hidden;
  margin-bottom: 10px;
}

.date {
  margin-top: 20px;
}

.note-span {
  color: black;
  overflow: hidden;
  padding: 3px 5px;
  font-size: 1rem;
  background-color: #d3d3d3;
}

.note-title {
  margin-bottom: 20px;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: black;
  min-height: 100vh;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}


/* bigNote component  */
.big-note-card {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  max-width: 700px;
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 255, 0.5);
}


.cross-btn {
  position: absolute;
  top: 7px;
  left: 93%;
  font-size: 1rem;
  padding: 0 10px;
  font-size: 1.5rem;
  box-shadow: 0 0 1px 1px #474747;
  font-weight: 700;
  cursor: default;
}


.date-dot-btn {
  display: flex;
  align-items: center;
  padding-left: 40%;
  justify-content: space-between;
}

.note-date {
  border-bottom: 1px solid blue;
  color: blue;
}


/* 3 dot button in big note component  */

.dot-btn {
  padding: 10px 15px;
  border-radius: 50%;
  transition: 0.3s;
  position: relative;
}
.dot-btn:hover {
  background-color: #e4e2e2;
}


.title-section {
  margin-bottom: 35px;
}

.big-note-title {
  margin: 10px;
  padding: 3px 10px;
  font-size: 1.5rem;
  font-weight: 600;
  overflow-x: auto;
}
.big-note-title::-webkit-scrollbar {
  background-color: transparent;
  height: 2px;
}

.big-note-title:hover::-webkit-scrollbar {
  display:block;
  height: 2px;
  background-color: blue;
  width: 50%;
}

.big-note-disc {
  width: 100%;
  height: 230px;
  padding: 10px;
  word-break: break-all;
  overflow-y: auto;
  font-size: 1.3rem;
}

.big-note-disc::-webkit-scrollbar {
  display: none;
}

.big-note-disc:hover {
  background-color: #e7e6e6;
}

.big-note-heading {
  color: blue;
}


.dot-btn-option {
  list-style-type: none;
  padding: 10px 15px;
  position: absolute;
  right: 50%;
  top: 55%;
  white-space: nowrap;
  background-color: #eaeaea;
  font-weight: 400;
  cursor: pointer;
  border-radius: 10px 0 10px 10px;
  box-shadow: 0 0 1px 1px rgb(164 147 147 / 30%)
} 


.edit {
  user-select: none;
  padding-bottom: 7px;
  border-bottom: 1px solid black;
}

.edit:hover,
.edit:hover>i {
  color: blue;
}

.delete {
  user-select: none;
  padding-top: 7px;
}

.delete:hover,
.delete:hover>i {
  color: red;
}
.edit>i,
.delete>i {
  margin-left: 8px;
} 


/* EditNote component  */
.edit-note-form {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  max-width: 700px;
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 25px 10px rgba(0, 0, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: blue;
}

.edit-date {
  text-align: center;
  font-size: 1.1rem;
}

.edit-title-section,
.edit-note-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
  font-size: 1.2rem;
}

.edit-title,
.edit-note {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid blue;
  font-size: 1rem;
}

.edit-note {
  height: 150px;
  margin-bottom: 20px;
}

#edit-title:focus-visible,
#edit-note:focus-visible {
  outline: 1px solid blue;
}

.save-button-section {
  text-align: center;
}

.save-btn {
  width: 100px;
  padding: 10px;
  color: white;
  background-color: #5955ec;
  border: none;
  font-size: 1rem;
  border-radius: 15px;
}

.save-btn:hover {
  background-color: blue;
}


/* when width is 420px or less  */
@media(max-width: 420px) {
  .date-dot-btn {
    padding-left: 20%;
  }
}