* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(#6464bc, #0f0650);
  color: white;
}

/* Notes Compoent  */

.add-note-box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.add-btn-section {
  display: block;
  position: fixed;
  top: 90%;
  width: 100%;
  text-align: end;
}

.add-btn {
  padding: 5px 25px;
  border: none;
  border-radius: 20px;
  white-space: nowrap;
  word-spacing: 5px;
  font-weight: 700;
  margin-right: 40px;
  
}


/* Add note component  */
.add-note-container {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 30px;
  border-radius: 20px;
}

.date {
  text-align: end;
}

.add-note-container>label {
  margin: 20px 0 5px 0;
}

.add-note-container>input,
.add-note-container>textarea {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #444;
}

.add-note-container>textarea {
  width: 100%;
  min-height: 150px;
}

.add-note-container>.add {
  margin: 20px auto 0 auto;
  padding: 5px 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}


/* NoteCard components  */
.note-card {
  width: 200px;
  height: 200px;
  display: inline-block;
  background-color: #c7c7c7;
  color: blue;
  /* border: 2px solid red;/ */
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  transition: .5s;
  box-shadow: 0 0 20px 1 #413a3a;
}

.note-card:hover {
  background-color: blue;
  color: white;
  box-shadow: 0 0 20px 1px black;
}

/* .note-card:hover>p>span {
  color: white;
} */

.note-card>p {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.date {
  font-size: .8rem;
  margin-bottom: 20px;
}

.note-span {
  color: black;
  overflow: hidden;
  padding: 3px 5px;
  font-size: 1rem;
  background-color: #d3d3d3;
}

.note-title {
  margin-bottom: 20px;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  color: black;
  height: 100vh;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}


/* bigNote component  */
.big-note-card {
  z-index: 2;
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 400px;
  background-color: white;
  color: black;
  margin-inline: auto;
  border-radius: 5px;
  padding: 20px;
}

.cross-btn {
  position: absolute;
  top: 7px;
  left: 93%;
  font-size: 1rem;
  padding: 0 10px;
  font-size: 1.5rem;
  box-shadow: 0 0 1px 1px #474747;
  font-weight: 700;
  cursor: default;
}

.cross-btn:hover {
  background-color: red;
  color: white;
  font-weight: 400;
}

.note-date {
  text-align: center;
  padding-top: 20px;
  color: blue;
}

.note-date>span {
  color: black;
  text-decoration: underline;
}


.title-section {
  margin-bottom: 35px;
}

.big-note-title {
  margin-left: 10px;
  background-color: #e2e1e0;
  padding: 3px 10px;
}

.big-note-disc {
  margin-left: 10px;
  width: calc(100% - 10px);
  height: 190px;
  background-color: #e2e1e0;
  padding: 5px;
}
.big-note-heading {
  color: blue;
}